In [19]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
    
    
"""
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: near "FROM": syntax error

In [2]:
/* PART 2: SQLite
/* We now want you to jump over to a local instance of the database on your machine. 

Copy and paste the LocalSQLConnection.py script into an empty Jupyter notebook, and run it. 

Make sure that the SQLFiles folder containing thes files is in your working directory, and
that you haven't changed the name of the .db file from 'sqlite\db\pythonsqlite'.

You should see the output from the initial query 'SELECT * FROM FACILITIES'.

Complete the remaining tasks in the Jupyter interface. If you struggle, feel free to go back
to the PHPMyAdmin interface as and when you need to. 

You'll need to paste your query into value of the 'query1' variable and run the code block again to get an output.
 
QUESTIONS:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

SELECT 
    name,
    SUM(CASE WHEN memid=0
             THEN guestcost * slots
             ELSE membercost * slots
         END) AS Revenue    
FROM Bookings AS b 
LEFT JOIN Facilities AS f on b.facid = f.facid
GROUP BY name
HAVING Revenue < 1000.0

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
   
    SELECT (m.surname || ' ' ||m.firstname) AS 'Member Names', 
           (m1.firstname || ' ' || m1.surname) AS 'Recom Names'
    FROM Members AS m
    INNER JOIN Members AS m1 on m.recommendedby = m1.memid
    WHERE m.recommendedby > 0
    ORDER BY m.surname ASC
    
    

/* Q12: Find the facilities with their usage by member, but not guests */
SELECT f.name, SUM(b.slots) AS 'Total Bookings:' 
FROM Bookings AS b
INNER JOIN Facilities AS f on f.facid = b.facid
WHERE memid > 0
GROUP BY b.facid
ORDER BY SUM(b.slots) DESC


/* Q13: Find the facilities usage by month, but not guests */
SELECT f.name AS 'Facility Name:',
SUM(CASE WHEN EXTRACT(MONTH FROM starttime ) =7 THEN 1 ELSE 0 END) AS July,
SUM(CASE WHEN EXTRACT(MONTH FROM starttime ) =8 THEN 1 ELSE 0 END) AS August,
SUM(CASE WHEN EXTRACT(MONTH FROM starttime ) =9 THEN 1 ELSE 0 END) AS September
FROM Bookings AS b
INNER JOIN Facilities AS f ON f.facid = b.facid
WHERE memid >0
GROUP BY name

SyntaxError: invalid syntax (<ipython-input-2-18a7b40b2346>, line 1)